<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=Hola, initial-scale=1.0">
    <title>JavaScript Guide</title>
</head>
<body>
    <p>
<h1>JSP Guide</h1>
<p>Simple guide. 

<h1>Introduction</h1>



<h1>Misc unordered</h1>

/Users/tardes/Documents/GitHub/chorraschorrez.github.io/_Docu/javaScript_Guide.html

<li>
    sudo chown -R tardes:staff pro_01
</li>

<p></p>
<h4>
    Angular Terminal ======
</h4>

<li>sudo ng new pro_01</li>

<p></p>

<li>ng serve -o </li>

<li>ng generate component ./components/tarea </li>




<p></p>


</body>
</html>










@GitHub:
-------------------------- 
Commits subir con nota ej. 
2024-02-14_16:30   (fromClass) (fromHome) 


Pedir identificacion, buscamos en lista de palabras que no exista ya. 





. @Eclipse for Developers
. Download ARM. 
.  /Users/tardes/eclipse/java-2023-12/




@pelisweb proyecto 
=========
2024-02-12_2032_pelisweb

https://fpaniaguajavascript.github.io/movies/movies-1900s.json


sudo ng new pelisweb  

sudo chown -R tardes:staff pelisweb

GitHub Desktop: menu Add local repository


---- DENTRO DE CARPETA pelisweb. Sin sudo

ng g c ./components/clienteweb --skip-tests

ng g s ./services/conectorwebservice --skip-tests





@Ionic
==========

@INSTALACIÓN
---------------------------------------------
sudo npm install -g @ionic/cli

ionic v

@APLICACIÓN CREAR
---------------------------------------------
(Ej. crear aplicación en carpeta miappionic)
sudo ionic start miappionic

//permisos: 
cd tardes
sudo chown -R tardes:staff miappionic


. framework: 
Angular

. template:
sidemenu

. elegir: 
NgModules

* Arrancar projecto Ionic
---------------------------------------------
// arranca en el puerto 8100
ionic serve




. Ir al código en tardes/miappionic/  
. abrimos el index.html tiene etiquetas de componentes. Ahora son etiquetas ion-ALGO
. En archivo "app.component.html", pego la etiqueta que quiera. 




. @Hacer ejercicio, 
===================

// @CREAR PROYECTO APLICACION
---

sudo ionic start myionic_001

// Framework: Angular

// Template: sidemenu

// App type: NgModules

// Permisos en carpeta del proyecto: 
sudo chown -R tardes:staff myionic_001



// @SERVIDOR. * Arrancar projecto Ionic
---
(crearemo un proyecto en la carpeta myionic_001 (.../GitHub/myionic_001 ))
cd myionic_001

ionic serve

// Se abrirá un browser, ej:  http://localhost:8100/folder/Inbox

// En Visual Source Code , abrir esa carpeta de proyecto. 




// app-routing.html
// elemento "< ion-router-outlet >"
ng g page ./pages/formulario/

. cuando pulse Consulta, abrir ese componente. hacerlo en el component,,ts







pppppppppppppppppppp
. (...) VER HOJA FOLIO 32
pppppppppppppppppp

. Tocar formulario-page.html para que haya un <ion-header></ion-header>  , podemos copiar uno de folder-page.html

. Crear servicio (en la carpeta de proyecto):

ng g s ./sesrvices/httpdata


. Rellenamos código ahí, en su .ts

.(...)
 
 
. En carpeta proyecto myionic_001: Creamos un page (un tipo de componente de Ionic) listado: 

ng g page ./pages/listado

. 






ng g page ./pages/listado

. EJERCICIO. MODIFICARLO:   para que al hacer clic en el menú Info, salga la page "page-listado", y que ahí se contenga un componente ion-list


. app.components.ts, path listado





ng g interface ./interface/pelicula

en ese .ts poner: 

export interface Pelicula {
        title:string,
        year:number,
        cast:[],
        genres:[],
        href:string,
        extract:string
}



. En archivo listado-page.html poner (el ngFor hace bucle por cada película), saldrá, al pulsar menú Info, el listado de películas: 

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let pelicula of peliculas">
      <ion-label>{{pelicula.title}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>



. Ahora sale en la lista el título. Hay que añadir la imagen (las películas que tengan, en el json no todas tienen)










. @EJERCICIO. el json tiene un campo thumbnail, añadir ese campo thumbnail:

* pelicula.ts añadir texto->  thumbnail:string: 

export interface Pelicula {
        title:string,
        year:number,
        cast:[],
        genres:[],
        href:string,
        extract:string, 
        thumbnail:string
}
 


. listado.page.html, modificar para que quede ésta línea: 
      <img [src]="pelicula.thumbnail"><img>
quedando así: 


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>listado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let pelicula of peliculas">
      <ion-label>{{pelicula.title}}</ion-label>
      <!-- <ion-img *ngIf="pelicula.thumbnail!==undefined" src={{pelicula.thumbnail}} style="width: 80px;"></ion-img>     --Esto muestra img rotas si vacías   -->
      <img [src]="pelicula.thumbnail"><img>
    </ion-item>

  </ion-list>
</ion-content>
 
 